@media (max-width: 768px){
    .article{
        .section-one{
            .title{
                font-size: 35px;
            }
            .content{
                .content-descr{
                    font-size: 13px;
                    line-height: 1;
                }
            }
        }
        .section-two{
            
        }
    }
}  